#Linux

.*
!.gitignore
*~

# KDE
.directory

#OS X

.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#Textmate

*.tmproj
*.tmproject
tmtags

#Vim

.*.sw[a-z]
*.un~
Session.vim

#Emacs

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
